---
const { section, number, image, title } = Astro.props;
import { Image } from "astro:assets";
---
<label for={`s${number}-${section}`} id={`slide${number}`}>
    <div class="zoom-container" data-slide="1">
        <Image src={image} alt={title} />
    </div>
</label>
