---
import CarouselSlector from "./Carousel-Parts/CarouselSlector.astro";

import CarouselLabel from "./Carousel-Parts/CarouselLabel.astro";

import drugs from "../assets/images/Drugs-sized.png";
import classy from "../assets/images/Classy-sized.png";
import morning from "../assets/images/In-the-morning.png";

const { section } = Astro.props;
---

<section id={`slider-${section}`} class="my-3">
    <CarouselSlector section="album" number="1" isitchecked="true" />
    <CarouselSlector section="album" number="2" isitchecked="false" />
    <CarouselSlector section="album" number="3" isitchecked="false" />
    <CarouselSlector section="album" number="4" isitchecked="false" />
    <CarouselSlector section="album" number="5" isitchecked="false" />

    <CarouselLabel section="album" number="1" image={classy} title="drugs" />
    <CarouselLabel section="album" number="2" image={morning} title="drugs" />
    <CarouselLabel section="album" number="3" image={drugs} title="drugs" />
    <CarouselLabel section="album" number="4" image={classy} title="drugs" />
    <CarouselLabel section="album" number="5" image={morning} title="drugs" />

</section>
